:root {
  --background-color: #ffffff;
  --color: #434455;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color);
  background-color: var(--background-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.text {
  color: var(--color);
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.style-container {
  display: flex;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.nav {
  display: flex;
  align-items: center;
}
.link-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.color-logo-header {
  color: #2e2f42;
}
.list-menu {
  display: flex;
  gap: 40px;
}
.list-menu .link-menu {
  font-weight: 500;
  color: #2e2f42;
  padding: 24px 0;
}
.list-menu .link-menu:hover,
.list-menu .link-menu:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
  margin-left: auto;
}
.list-address {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.list-address .link-address {
  color: #434455;
}
.list-address .link-address:hover,
.list-address .link-address:focus {
  color: #404bbf;
}
.sectionone-studio {
  background-color: #2e2f42;
  padding: 188px 0;
}
.titleone-studio {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
  letter-spacing: 0.02em;
  max-width: 496px;
  text-align: center;
  margin: 0 auto;
}
.button-studio {
  border: none;
  margin-left: 141px;
  cursor: pointer;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
  min-width: 169px;
  margin: 0 auto;
  margin-top: 48px;
  display: block;
  padding: 16px 32px;
}
.button-studio:hover,
.button-studio:focus {
  background-color: #404bbf;
}
.sectiontwo-studio {
  padding: 120px 0;
}
.titletwo-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-skills {
  display: flex;
  gap: 24px;
}
.element-skills {
  width: calc((100% - 3 * 24px) / 4);
}
.titletwo-sectionthree {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.sectionthree-studio {
  padding-bottom: 120px;
}
.list-gadget {
  display: flex;
  gap: 24px;
  margin-top: 72px;
}
.element-gadget {
  width: calc((100% - 3 * 16px) / 3);
}
.titletwo {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.sectionfour-studio {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.titletwo-sectionfour {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.titlethree-skills {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.list-team {
  display: flex;
  gap: 24px;
}
.element-list-team {
  flex-basis: calc((100% - 3 * 24px) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
.name-job {
  padding: 32px 16px;
}
.titlethree-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.text-team {
  text-align: center;
}
.section-portfolio {
  padding: 96px 0 120px;
}
.titleone-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-button-portfolio {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.button-portfolio {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  height: 48px;
  padding: 12px 24px;
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  border: 1px solid transparent;
}
.list-activities {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.element-activites {
  border: 1px solid #e7e9fc;
  width: calc((100% - 48px) / 3);
}
.category {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.titletwo-activites {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.link-logo-footer {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}
.color-logo-footer {
  color: #f4f4fd;
}
.text-footer {
  width: 264px;
  color: #f4f4fd;
}
