:root {
  --background: #ffffff;
  --color: #434455;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color);
  background: var(--background);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.text {
  color: var(--color);
}
.header {
  width: 1440px;
  height: 72px;
  padding: 24px 141px;
  border-bottom: 1px solid #e7e9fc;
}

.container-header {
  width: 1158px;
  padding: 0 15px;
}

.link-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.color-logo-header {
  color: #2e2f42;
}
.list-menu .link-menu {
  font-weight: 500;
  color: #2e2f42;
}
.list-menu .link-menu:hover,
.list-menu .link-menu:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}

.list-address .link-address {
  color: #434455;
}
.list-address .link-address:hover,
.list-address .link-address:focus {
  color: #404bbf;
}
.sectionone-studio {
  background: #2e2f42;
  width: 1440px;
  height: 600px;
  padding: 0 141px;
}
.container-sectionone {
  width: 1158px;
  padding: 0 331px;
}
.titleone-studio {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.02em;
  width: 496px;
  padding-top: 188px;
}
.button-studio {
  margin-left: 164px;
  cursor: pointer;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
  width: 169px;
  height: 56px;
  margin-top: 48px;
}
.button-studio:hover,
.button-studio:focus {
  background: #404bbf;
}
.sectiontwo-studio {
  width: 1440px;
  padding: 0 141px;
}
.container-sectiontwo {
  margin-top: 120px;
  margin-bottom: 120px;
  width: 1158px;
  padding: 0 15px;
}
.titletwo-hidden {
  visibility: hidden;
}
.titletwo {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.sectionthree-studio {
  width: 1440px;
  height: 412px;
  padding: 0 141px;
  margin-bottom: 120px;
}
.container-sectionthree {
  width: 1158px;
  padding: 0 15px;
}
.sectionfour-studio {
  background: #f4f4fd;
  width: 1440px;
  height: 732px;
  padding: 0 141px;
}
.container-sectionfour {
  width: 1158px;
  padding: 0 15px;
}
.titlethree-skills {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.titlethree-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.titleone-hidden {
  visibility: hidden;
}
.button-portfolio {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.button-portfolio:hover,
.button-portfolio:focus {
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}
.titletwo-activites {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.element-list-team {
  background-color: #ffffff;
}
.footer {
  background: #2e2f42;
  color: #f4f4fd;
  width: 1440px;
  height: 312px;
  padding: 100px 141px;
}
.container-footer {
  width: 1158px;
  padding: 0 15px;
}
.color-logo-footer {
  color: #f4f4fd;
}
.text-footer {
  width: 264px;
  margin-top: 16px;
}
